.hedar_component {
    display: flex;
    justify-content: space-between;
    font-size: 60%;
}

.header_component_img1 {
    width: 5%;
    height: 5%;
}

hr {
    width: 20%;
   margin-left: 0px
 
}